<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>7. Date Picker</title>

    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
</head>
<body>
    <div id="gridDate"></div>
</body>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
    <script src="/js/datePicker.js"></script>
</html>